$blue: #2a3698;

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  padding: 1.5rem;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 1rem;
}

#board-container {
  position: relative;

  #board {
    background-color: #000;
    color: #fff;
    display: flex;
    padding: 0.5rem 0 0 0.5rem;
  
    .category {
      width: 20%;
      text-align: center;
  
      .title {
        text-transform: uppercase;
        background-color: $blue;
        padding: 0.5rem;
        margin: 0 0.5rem 0.5rem 0;
        font-size: 1.25rem;
      }
  
      .clue {
        background-color: $blue;
        padding: 0.5rem;
        margin: 0 0.5rem 0.5rem 0;
        color: #FFCC00;
        font-size: 2rem;
        cursor: pointer;
        display: block;
        border: 0;
        width: calc(100% - 0.5rem);
  
        &:hover {
          padding: 0.25rem;
          border: 0.25rem solid #FFCC00;
        }

        &:disabled {
          .value {
            visibility: hidden;
          }

          &:hover {
            padding: 0.5rem;
            border: 0;
            cursor: default;
          }
        }
  
        .details {
          display: none;
        }
      }
    }
  }

  #active-clue-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blue;
    display: flex;
    justify-content: center;
    align-items: center;

    #active-clue {
      color: #fff;
      font-size: 2rem;
      font-family: 'Noto Serif', serif;
      text-transform: uppercase;
      max-width: 700px;
      text-align: center;
      text-shadow: 2px 2px 5px #000;
    }

    button {
      font-size: 1rem;
      margin-right: 1rem;
    }
  }
}
